.page {
  font-size: var(--main-size);
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  background-color: var(--background-color);
  font-family: var(--font), monospace;
  background-image: url(../images/cover-image-dark.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h3 {
  color: var(--accent-text-color);
  font-weight: var(--font-bold);
}

h3 {
  margin-top: 20px;
}

h4 {
  color: var(--accent-text-color);
  margin-top: 20px;
}

.title-decor {
  background-color: var(--background-hightlight);
}

h5 {
  font-weight: var(--font-normal);
  color: var(--accent-text-color);
}

.container {
  padding: 0 10px 0 10px;
}

.main-text {
  color: var(--text-color);
  margin-top: 10px;
  margin-block-end: 0px;
}

.link-decor {
  text-shadow: 2px 2px 0px var(--shadow-title);
}

.link-decor:hover {
  border-block-end: 1px solid var(--text-color);
}

.link-decor:focus-visible {
  outline: 1px solid var(--text-color);
}

.indent {
  margin-block-start: var(--indent);
} 

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: 10px;
  min-height: 100vh;
  margin-block-end: 40px;
}

.decor-rec {
  position: absolute;
  right: 39px;
  top: 12px;
  color: var(--rec-color);
}

.decor-rec::after {
  position: absolute;
  content: '';
  height: 9px;
  width: 9px;
  right: -20px;
  top: 6px;
  border-radius: 50%;
  background-color: var(--rec-color);
  box-shadow: 0px 0px 2px 2px var(--rec-color);
}

.decorated-zone::after {
  position: absolute;
  display: block;
  content: '';
  width: 25px;
  height: 25px;
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
  right: 10px;
  top: 10px;
}

.decorated-zone::before {
  position: absolute;
  display: block;
  content: '';
  width: 25px;
  height: 25px;
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
  left: 10px;
  bottom: 10px;
}

.header__theme-menu {
  display: grid;
  justify-content: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
  align-self: center;
}

.header__theme-menu-item {
  color: var(--accent-color);
  text-align: center;
  line-height: 100%;
}

.header__theme-menu-button {
  text-transform: lowercase;
  background-color: transparent;
  padding: 2px 11px 3px 13px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover);
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color);
}

.heading {
  font-size: clamp(8.3125rem, 9.0898rem + -3.3163vw, 7.5rem);
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--shadow-title);
  font-weight: var(--font-bold);
  line-height: 82.5%;
}

.header__text {
  display: flex;
}

.header__text-wrap {
  color: var(--accent-text-color);
  font-weight: var(--font-bold);
  align-self: center;
  align-content: center;
  white-space: pre-line;
  inline-size: 100%;
}

.section__title {
  color: var(--accent-color);
  font-weight: var(--font-bold);
  margin-block-end: 20px;
}

.pictures-wrap {
  margin-top: 10px;
  display: grid;
  gap: 10px;
}

.img-style {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.footer {
  position: relative;
  display: grid;
  grid-template-rows: 1fr;
  min-block-size: 100vh;
  margin-block-start: 40px;
}

.footer-decor {
  align-self: center;
  justify-self: center;
  text-shadow: 2px 2px 0px var(--shadow-title);
}

@media (width > 571px) {
  :root {
    --indent: 80px;
  }

  h3:first-child {
    margin-block-start: 0;
  }

  .article {
    margin-block-start: 20px;
  }

  .container {
    padding: 0 20px;
  }

  .header__text {
    justify-content: end;
  }

  .header__text-wrap {
    inline-size: 50%;
  }

  .header{
    padding: 20px;
    margin-block-end: 60px;
  }

  .decorated-zone::after {
    right: 20px;
    top: 20px;
  }
  .decorated-zone::before {
    left: 20px;
    bottom: 20px;
  }

  .decor-rec {
    right: 48px;
    top: 21px;
  }

  .wrap-two-colomn {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .limiter {
    inline-size: 30%;
  } 

  .pictures-wrap {
    margin-block-start: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1.5fr;
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
    aspect-ratio: 984/1048;
  }

  .picture-sunset {
    grid-area: sunset;
  }

  .picture-ice-cream {
    grid-area: ice-cream;
  }

  .picture-tape {
    grid-area: tape;
  }

  .picture-books {
    grid-area: books;
  }

  .picture-street {
    grid-area: street;
  }

  .footer {
    margin-block-start: 60px;
  }

  .footer-decor {
    padding-left: 40px;
  }
} 

@media (width > 767px) {

  .heading {
    position: relative;
    margin-inline-start: -20px;
  }
  
  .heading:last-child {
    margin-inline-start: -40px;
  }
  
  .heading {
    font-size: clamp(7.625rem, 1.0625rem + 13.6719vw, 9.8125rem);
  }

}

@media (width > 896px) {
  .heading {
    font-size: clamp(7.625rem, -3.0071rem + 22.179vw, 11.1875rem);
  }

  .article {
    margin: 0;
  }

  .header__theme-menu {
    display: grid;
    justify-content: center;
  }
  
  .header__theme-menu-list {
    flex-direction: row;
    align-self: flex-start;
  }

  .header__text-wrap,
  .section__title,
  .main-text {
    line-height: 23.4px;
  }

  .wrap-two-colomn {
    grid-template-columns: 1fr 2fr;
    gap: 11px;
  }
  
  .wrap-horizontal {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}